@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/*Eliminamos los márgenes y paddings del navegador por defecto*/
html {
  box-sizing: border-box;
  padding: 0%;
  box-sizing: inherit; }

/*Color del cuerpo de la página*/
body {
  background-image: linear-gradient(to right, #746666, #9b6185); }

/*Menú de navegación*/
header .fotohome {
  height: 37vh;
  width: 100%;
  margin: auto; }

header #logobodega {
  height: 3.2rem;
  width: 100%;
  text-align: right;
  border-radius: 8rem; }

header nav {
  font-weight: bold;
  font-style: normal;
  width: 100%;
  font-size: 1.3rem; }
  header nav nav li :hover {
    transform: scale(1.09);
    transition: color, background-color, transform 0.3s ease-in; }
    header nav nav li :hover nav li a:hover {
      background-color: #190227; }
    header nav nav li :hover nav ul a {
      text-decoration: none;
      font-weight: bold;
      border-radius: 25px; }

header .dropdown-menu {
  background-image: linear-gradient(to right, #382a36, #d8aed8);
  font-weight: bold;
  font-style: none; }

/*estilo información e imágenes de la bodega*/
h1 {
  margin: 20px;
  text-align: center;
  text-decoration: underline;
  color: red; }

#h1index {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  color: rgba(15, 4, 15, 0.644); }

#infobodega {
  color: #080308;
  font-size: 1rem;
  padding: 2rem;
  border-top: 0.1rem solid #1b0e20;
  border-bottom: 0.1rem solid #1b0e20;
  padding: 0.5rem; }

#imagenhome {
  height: 29rem; }

.redessociales {
  text-align: center;
  justify-content: center;
  background-image: url(..//Imágenes/Fotos/uvasredes.png);
  background-repeat: repeat;
  background-size: 410px; }
  .redessociales .redessociales h2 {
    color: #461139;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.1rem;
    position: relative; }
  .redessociales .iconosredes {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    list-style: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto; }
    .redessociales .iconosredes:hover {
      background-color: #d8d2d7;
      transform: scale(1.2);
      transition: color, background-color, transform 0.4s ease-in; }

/*Animación del redes*/
@keyframes left-in {
  0% {
    left: -100%;
    color: #020211; }
  100% {
    left: 0;
    color: #461139; } }

.redessociales h2 {
  animation-name: left-in;
  animation-duration: 5s; }

/* estilo footer*/
.homefooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 0.6rem; }
  .homefooter .linkhome {
    text-decoration: none;
    color: purple;
    font-weight: bold; }
  .homefooter #h3home {
    padding-top: 0.3rem;
    font-size: 1rem; }

/*Se crea un maps*/
#mapa1 {
  background-color: #fcf0fc;
  font-size: 1.1rem;
  border: #420c39 solid; }

#mapa2 {
  background-color: #c2a4c2;
  font-size: 1rem;
  border: rgba(153, 4, 141, 0.788) solid; }

/*Estilo de page Historia.html*/
.columnahistoria {
  border: 1px solid #1b0e20;
  background-color: #f8f1f1;
  margin: 10px 40px;
  columns: 1px 2;
  column-gap: 3em;
  column-rule: 1.5px solid #1b0e20;
  column-width: 1px;
  font-size: 20px;
  padding: 10px; }

/*estilo de página Nuestrosvinos.html*/
.color {
  background-color: #f8f1f1; }

.botellanuestrosvinos {
  width: 10rem; }

/* Estilo página Premios.html*/
.tablapremios {
  width: 50%;
  border: 10px solid #1b0e20;
  border-spacing: 5px;
  text-align: center;
  padding: 15px;
  border-collapse: collapse;
  line-height: 25px;
  margin-top: 10px;
  margin-left: 25%; }

.color2 {
  background-color: #f8f1f1; }

.h3video {
  text-align: center;
  text-decoration: underline; }

.videopremios {
  text-align: center;
  margin: 1.5rem; }

/*Estilo página Contact.html*/
.mb-4 {
  padding: 1rem; }

#pcontacto {
  font-weight: bold; }

.form-check {
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-weight: bold; }

.sobrenosotros {
  color: #070507;
  font-size: 0.9rem;
  padding-left: 30px;
  text-decoration: none; }

#lisobrenosotros {
  font-style: italic;
  font-size: 1rem; }

.sobrenosotrosmapa {
  color: #070507;
  font-weight: bold;
  font-style: italic; }
