@charset "UTF-8";
/*tipografia para todo el documento*/
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Philosopher&family=Playfair+Display&display=swap");
/*Eliminamos los márgenes y paddings del navegador por defecto*/
html {
  box-sizing: border-box;
  padding: 0%;
  box-sizing: inherit; }

/*Color del cuerpo de la página*/
body {
  background-image: linear-gradient(to right, #746666, #9b6185); }

/*Menú de navegación*/
header .fotohome {
  width: 100%;
  margin: auto; }

header #logobodega {
  height: 3.2rem;
  width: 100%;
  text-align: right;
  border-radius: 8rem; }

nav {
  font-weight: bold;
  font-style: normal;
  width: 100%;
  font-size: 1.25rem; }

nav li :hover {
  transform: scale(1.019);
  transition: color, background-color, transform 0.3s ease-in; }

nav li a:hover {
  background-color: #190227; }

nav ul a {
  text-decoration: none;
  font-weight: bold;
  border-radius: 23px; }

.dropdown-menu {
  font-weight: bold;
  font-style: none; }

.dropdown-menu :hover {
  border-radius: 0.5rem;
  transform: scale(1);
  background-color: #c1b0cc; }

.redessociales {
  text-align: center;
  justify-content: center;
  padding-bottom: 1rem; }
  .redessociales h2 {
    color: #461139;
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1rem;
    position: relative; }
  .redessociales .iconosredes {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.4rem;
    list-style: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto; }
    .redessociales .iconosredes .insta :hover, .redessociales .iconosredes .face :hover {
      transform: scale(1.3); }

/*Animación de redes*/
@keyframes left-in {
  0% {
    left: -100%;
    color: #fae9f5; }
  100% {
    left: 0;
    color: #461139; } }

h2 {
  animation-name: left-in;
  animation-duration: 5s; }

@media (min-width: 700px) {
  #carousel {
    padding-left: 35%; } }

@media (max-width: 700px) {
  #carousel {
    padding-left: 35%; } }

/* estilo footer*/
.homefooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;
  background-image: url(..//assets/uvasredes.png);
  background-repeat: repeat;
  background-size: 420px; }
  .homefooter .linkhome {
    text-decoration: none;
    color: #7c2f7c;
    font-weight: bold;
    font-size: 1rem; }
  .homefooter #h3home {
    font-size: 1rem; }

/*Estilo de page home.html*/
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia;
  color: #f8f1f8;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem; }

#mapa1 {
  background-color: #fcf0fc;
  font-size: 0.9rem;
  border: #663f5f solid 0.4rem;
  padding: 3rem;
  margin-bottom: 2rem; }

#mapa2 {
  background-color: #c2a4c2;
  font-size: 1rem;
  font-style: italic;
  padding: 3rem;
  margin-bottom: 2rem; }

#mapa3 {
  background-color: #fcf0fc;
  font-size: 0.9rem;
  border: #663f5f solid 0.4rem;
  padding: 3rem;
  margin-bottom: 2rem; }

/*Estilo de page historia.html*/
.imagenhistoria {
  display: inline-block;
  margin: auto;
  align-content: space-between;
  margin-bottom: 1rem; }

/*estilo de página Nuestrosvinos.html*/
.color {
  background-color: #f8f1f1; }

.botellanuestrosvinos {
  width: 20%;
  margin-left: 43%; }

@media (min-width: 700px) {
  .botellanuestrosvinos {
    width: 10%;
    margin-left: 45%; } }

/* Estilo página Premios.html*/
.tablapremios {
  width: 50%;
  border: 10px solid #1b0e20;
  border-spacing: 5px;
  text-align: center;
  padding: 15px;
  border-collapse: collapse;
  line-height: 25px;
  margin-top: 10px;
  margin-left: 25%; }

.color2 {
  background-color: #f8f1f1; }

.videopremios {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

/*Estilo página Contacto.html*/
@media (min-width: 700px) {
  .mb-4 {
    margin-left: 20%; } }

.h1contacto {
  text-align: left; }

#pcontacto {
  font-weight: bold;
  color: white; }

.form-check {
  font-style: italic;
  color: black;
  padding-left: 22%; }

#abierto {
  color: #461139;
  font-weight: bold; }

.sobrenosotros {
  font-size: 1rem; }

.sobrenosotrosmapa {
  color: #070507;
  font-weight: bold;
  font-style: italic; }

.btn-enviar, .btn-limpiar {
  border-radius: 3rem;
  align-items: center;
  border: 2px solid #25041e;
  transition: all 0.5s;
  cursor: pointer; }

.btn-enviar, .btn-limpiar {
  border-radius: 3rem;
  align-items: center;
  border: 2px solid #25041e;
  cursor: pointer; }

.btn-enviar a:hover, .btn-limpiar a:hover {
  background-color: #7c5794;
  border-radius: 10rem; }

/*Style página compras.html*/
#h1compras {
  position: relative;
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite; }

@keyframes slidein {
  from {
    margin-left: 100%; }
  to {
    margin-left: 0%; } }

/*Fin*/
