/*tipografía para todo el documento*/

/*Eliminamos los márgenes y paddings del navegador por defecto*/
html{
    box-sizing: border-box;
    padding: 0%;
    }
    
    *,
    *::after,
    *::before{
    box-sizing: inherit;
    }

  /*Color del cuerpo de la página*/

body 
{
   background-image: linear-gradient(to right, rgb(116, 102, 102),rgb(155, 97, 133));

}

/*Menú de navegación*/

.fotohome 
{
    height: 37vh;
    width: 100%;
    margin:auto;
}

#logobodega
{
    height: 3.2rem;
    width: 100%;
    text-align: right;
    border-radius: 7.6rem;
}

nav
    {
    font-weight: bold;
    font-style: normal;
    width: 100%;
    font-size: 1.25rem;
    }

    nav li :hover
    {
        transform: scale(1.02);
        transition: color, background-color, transform 0.3s ease-in;
    }
    nav li a:hover
    {
    background-color: rgb(25, 2, 39);
    }
   
    nav ul a   
    {
    text-decoration: none;
    font-weight: bold;
    border-radius: 23px;
    }



/* estilo redes sociales*/ 

.redessociales
    {
    text-align: center;
    justify-content: center;
    }
.redessociales h2
    {
    color:rgb(70, 17, 57);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.1rem;
    position: relative;
    }

.iconosredes
    {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    list-style: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
     }
.iconosredes :hover
    {
        background-color: rgb(216, 210, 215);
        transform: scale(1.2);
        transition: color, transform 0.4s ease-in;
    }

/*Animación del redes*/

@keyframes left-in {
0%
    {
        left: -100%;
        color: rgb(2, 2, 17);
    }
100% {
        left: 0;
        color:rgb(70, 17, 57)
    }
}

.redessociales h2
{
animation-name: left-in;
animation-duration: 5s;
}
/* estilo footer*/

.homefooter
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 0.6rem;
   
    }
.linkhome
{
    text-decoration: none;
    color: purple;
    font-weight: bold;
}
#h3home
{
    padding-top: 0.3rem;
    font-size: 1rem;
}

/*Estilo de page Historia.html*/


.columnahistoria
    {
     
     border: solid 1px rgb(73, 21, 94);
     background-color:#DED9E9;
     margin: 10px 40px;
     columns: 1px 2;
     column-gap: 3em;
     column-rule: 1.5px solid rgb(73, 21, 94);
     column-width: 1px;
     font-size: 20px;
     padding: 10px;
     }

 
 /*estilo de página Nuestrosvinos.html*/


.h2nuestrosvinos
    {
        margin: 20px;
        text-align: center;
        text-decoration: underline;
    }
    
 .color
    {
    background-color:rgb(248, 241, 241);
    }
    
.botellanuestrosvinos
{
    width: 10rem;
}


/* Estilo página Premios.html*/
.h2premios

    {
        margin: 20px;
        text-align: center;
        text-decoration: underline;
    }   

.tablapremios
    {
     width: 50%;
     border: solid 10px  rgba(37, 10, 39, 0.644);
     border-spacing: 5px;
     text-align: center;
     padding: 15px;
     border-collapse: collapse;
     line-height: 25px;
     margin-top: 10px;
     margin-left: 25%;
    }
   
.color2
    {
    background-color:rgb(248, 241, 241);
    }
.h3video
    {
        text-align: center;
        text-decoration: underline;
    }   
.videopremios
{
    text-align: center;
    margin:  1.5rem;
    
}
/*Estilo página Contact.html*/
    
.mb-4
{
    padding: 1rem;
}
.h2contacto
    {
            margin: 20px;
            text-align: center;
            text-decoration: underline;
    }
#pcontacto
    {
     font-weight: bold;
    }

.form-check
{
    margin-left: 2rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.sobrenosotros
{
    color: rgb(7, 5, 7);
    font-size: 0.9rem;
    padding-left: 30px;
    text-decoration: none;
}
#lisobrenosotros
{
    font-style: italic;
    font-size: 1rem;

}
.sobrenosotrosmapa
{
    color: rgb(7, 5, 7);
    font-weight: bold;
    font-style: italic;
}
