
h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia;
    color: rgb(66, 18, 64);
    text-decoration: none;
    text-align: center;
    

}


.h1nuestrosvinos
{
    @extend h1;
    text-decoration:dotted;
    
}

.sobrenosotros
{
color: rgb(7, 5, 7);
font-size: 0.9rem;
padding-left: 30px;
text-decoration: none;
}
#h2contacto
{
    @extend .sobrenosotros;
     font-size: 5rem
}

.sobrenosotrosmapa
{
@extend .sobrenosotros;
font-weight: bold;
font-style: italic;
}