/* estilo footer*/

.homefooter
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
    background-image: url(..//assets/uvasredes.png);
    background-repeat: repeat;
    background-size: 420px;

   
    .linkhome
    {
    text-decoration: none;
    color: #7c2f7c;
    font-weight: bold;
    font-size: 1rem;
    }
#h3home
    {
    font-size: 1rem;
    }
}
 //*FIN*//
   
