
/*Menú de navegación*/

header{

    .fotohome 
    {height: 37vh;
    width: 100%;
    margin:auto;
    }
    #logobodega
    {
    height: 3.2rem;
    width: 100%;
    text-align: right;
    border-radius: 8rem;
    }

    nav
    {
    font-weight: bold;
    font-style: normal;
    width: 100%;
    font-size: 1.25rem;
    }

    nav li :hover
    {
        transform: scale(1.02);
        transition: color, background-color, transform 0.3s ease-in;
    }
    nav li a:hover
    {
    background-color: rgb(25, 2, 39);
    }
   
    nav ul a   
    {
    text-decoration: none;
    font-weight: bold;
    border-radius: 23px;
    }


.dropdown-menu
{
    background-image: linear-gradient(to right, rgb(56, 42, 54),rgb(216, 174, 216));
    font-weight: bold;
    font-style: none;
}
}