//*Estilo de header*//
//*Variables*//
$Borderstyle: solid rgb(27, 14, 32);

//*estilo index*//

#imagenhome
 {
    height: 60vh;
 }

//* estilo redes sociales*// 

.redessociales
    {
    text-align: center;
    justify-content: center;

    h2 {
    color:$colorfont;
    font-size: 1.3rem;
    font-weight: $bold;
    padding-top: 1rem;
    position: relative;
    }
    .iconosredes
    {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.4rem;
    list-style: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
        .insta :hover, .face :hover {
        transform: scale(1.3);
                }
    }
}
/*Animación de redes*/

@keyframes left-in {
0%
    {
        left: -100%;
        color: rgb(250, 233, 245);
    }
100% {
        left: 0;
        color:$colorfont
    }
}

h2
{
animation-name: left-in;
animation-duration: 5s;
}