//*Estilo de header*//
//*Variables*//
$Borderstyle: solid rgb(73, 21, 94);

//*estilo información e imágenes de la bodega*//
/*estilo información e imágenes de la bodega*/

#h1index
{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: rgba(15, 4, 15, 0.644);
}
#infobodega
    {
    color: rgb(8, 3, 8);
    font-size: 1rem;
    padding: 2rem; 
    border-top:0.1rem $Borderstyle;
    border-bottom: 0.1rem $Borderstyle;
    padding: 0.5rem;
    }

#imagenhome
 {
         height: 29rem;
 }


//* estilo redes sociales*// 

.redessociales
    {
    text-align: center;
    justify-content: center;
    background-image: url(..//Imágenes/Fotos/uvasredes.png);
    background-repeat: repeat;
    background-size: 410px;
    .redessociales h2 {
    color:$colorfont;
    font-size: 1.4rem;
    font-weight: $bold;
    padding: 0.1rem;
    position: relative;
                     }
    .iconosredes
    {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    list-style: none;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
        &:hover {
        background-color: rgb(216, 210, 215);
        transform: scale(1.2);
        transition: color, background-color, transform 0.4s ease-in;
                }
    }
}
/*Animación del redes*/

@keyframes left-in {
0%
    {
        left: -100%;
        color: rgb(2, 2, 17);
    }
100% {
        left: 0;
        color:$colorfont
    }
}

.redessociales h2
{
animation-name: left-in;
animation-duration: 5s;
}