//*Variables*//
$colorfont: rgb(70, 17, 57);
$italic:italic;
$bold: bold;


//*tipografía para todo el documento*//

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*Eliminamos los márgenes y paddings del navegador por defecto*/

html{
    box-sizing: border-box;
    padding: 0%;
    box-sizing: inherit;
    }

  /*Color del cuerpo de la página*/

body 
{
   background-image: linear-gradient(to right, rgb(116, 102, 102),rgb(155, 97, 133));

}
//*estilo header*//
@import "header.scss";
@import "index.scss";
@import "footer.scss";


 /*Estilo de page Historia.html*/

 .h1historia
 {
 margin: 20px;
 text-align: center;
 text-decoration: underline;
 }
.columnahistoria
 {
  
  border: 1px $Borderstyle;
  background-color:#DED9E9;
  margin: 10px 40px;
  columns: 1px 2;
  column-gap: 3em;
  column-rule: 1.5px $Borderstyle;
  column-width: 1px;
  font-size: 20px;
  padding: 10px;
  }
