//*Variables*//
$colorfont: rgb(70, 17, 57);
$italic:italic;
$bold: bold;
$especificbgcolor: rgb(248, 241, 241);


//*tipografía para todo el documento*//

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*Eliminamos los márgenes y paddings del navegador por defecto*/

html{
    box-sizing: border-box;
    padding: 0%;
    box-sizing: inherit;
    }

  /*Color del cuerpo de la página*/

body 
{
   background-image: linear-gradient(to right, rgb(116, 102, 102),rgb(155, 97, 133));

}
//*estilo header*//
@import "header.scss";
@import "index.scss";
@import "footer.scss";
@import "maps.scss";

 /*Estilo de page Historia.html*/

 
.columnahistoria
 {
  
  border: 1px $Borderstyle;
  background-color:$especificbgcolor;
  margin: 10px 40px;
  columns: 1px 2;
  column-gap: 3em;
  column-rule: 1.5px $Borderstyle;
  column-width: 1px;
  font-size: 20px;
  padding: 10px;
  }

  /*estilo de página Nuestrosvinos.html*/


.color
{
background-color: $especificbgcolor;
}

.botellanuestrosvinos
{
width: 10rem;
}


/* Estilo página Premios.html*/
  

.tablapremios
{
 width: 50%;
 border: 10px $Borderstyle;
 border-spacing: 5px;
 text-align: center;
 padding: 15px;
 border-collapse: collapse;
 line-height: 25px;
 margin-top: 10px;
 margin-left: 25%;
}

.color2
{
background-color:$especificbgcolor;
}
.h3video
{
    text-align: center;
    text-decoration: underline;
}   
.videopremios
{
text-align: center;
margin:  1.5rem;

}
/*Estilo página Contact.html*/

.mb-4
{
padding: 1rem;
}

#pcontacto
{
 font-weight: bold;
}

.form-check
{
margin-left: 2rem;
margin-top: 0.5rem;
font-weight: bold;
}

.sobrenosotros
{
color: rgb(7, 5, 7);
font-size: 0.9rem;
padding-left: 30px;
text-decoration: none;
}
#lisobrenosotros
{
font-style: italic;
font-size: 1rem;

}
.sobrenosotrosmapa
{
color: rgb(7, 5, 7);
font-weight: bold;
font-style: italic;
}
