
//*Variables*//
$colorfont: rgb(70, 17, 57);
$italic:italic;
$bold: bold;
$especificbgcolor: rgb(248, 241, 241);

/*tipografia para todo el documento*/
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Philosopher&family=Playfair+Display&display=swap');

/*Eliminamos los márgenes y paddings del navegador por defecto*/

html{
    box-sizing: border-box;
    padding: 0%;
    box-sizing: inherit;
    }

  /*Color del cuerpo de la página*/

body 
{
   background-image: linear-gradient(to right, rgb(116, 102, 102),rgb(155, 97, 133));

}
//*estilo header*//
@import "header.scss";
@import "index.scss";
@import "footer.scss";


 /*Estilo de page home.html*/

 $Coloresmapa: (
  Color1:rgb(252, 240, 252),
  Color2: rgb(194, 164, 194),
  fontsize1: 0.9rem,
  fontsize2: 1rem,
  bordercolor1: rgb(102, 63, 95),
 
 
);

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia;
  color: rgb(248, 241, 248);
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;

}

#mapa1
{
  background-color: map-get($Coloresmapa, Color1);
  font-size:map-get($Coloresmapa, fontsize1); 
  border:map-get($Coloresmapa, bordercolor1) solid 0.4rem;
  padding: 3rem; 
}

#mapa2
{
  background-color: map-get($Coloresmapa, Color2);
  font-size:map-get($Coloresmapa, fontsize2);
  font-style: italic;
  padding: 3rem; 
}
#mapa3{
  background-color: map-get($Coloresmapa, Color1);
  font-size:map-get($Coloresmapa, fontsize1); 
  border:map-get($Coloresmapa, bordercolor1) solid 0.4rem;
  padding: 3rem; 
}
  /*estilo de página Nuestrosvinos.html*/
.color
{
background-color: $especificbgcolor;
}

.botellanuestrosvinos {
  width: 9rem;
  margin-left: 50%;
   
}

@media (min-width: 700px) {
.botellanuestrosvinos
{
margin-left: 50%; 
width: 10rem; 
}
}
/* Estilo página Premios.html*/
  
.tablapremios
{
 width: 50%;
 border: 10px $Borderstyle;
 border-spacing: 5px;
 text-align: center;
 padding: 15px;
 border-collapse: collapse;
 line-height: 25px;
 margin-top: 10px;
 margin-left: 25%;
}

.color2
{
background-color:$especificbgcolor;
}


.videopremios
{
    margin:  1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Estilo página Contact.html*/

.mb-4
{
margin: 0.3rem;
}

#pcontacto
{
 font-weight: bold;
 color: white;
}

.form-check
{
margin-left: 2rem;
font-style: $italic;
padding-top: 0.3rem;
padding-left: 20%;
color: black;

align-content: center;
}
#abierto
{
  color: $colorfont;
  font-weight: bold;
}
.sobrenosotros
{
font-size: 1rem;

}
.sobrenosotrosmapa 
{
color: rgb(7, 5, 7);
font-weight: bold;
font-style: italic;
}

.btn-enviar, .btn-limpiar
{
  border-radius: 3rem;
  align-items: center;
  border: 2px solid #25041e; 
  transition: all 0.5s;
  cursor: pointer;
}


/*Fin*/

